name: QiwiSnake
on: [push, pull_request]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2

      - name: Build with Buildozer
        uses: ArtemSerebrennkov/buildozer-action@v1
        with:
          workdir: .
          buildozer_version: master

      - name: Upload Artifact
        uses: actions/upload-artifact@v2
        with:
          name: package
          path: bin/*.apk
